<section id="body">
  <div class="hero-block" style="border-bottom: 1px solid #e9e9e9;padding:10px 0;">
    <img role="presentation" class="img-responsive" srcset="" src="../../../assets/images/wax/baniere.jpg" height="2560" width="1070" alt="Made of africa 360w 201906">
  </div>
  <div class="mosaic-block">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <a data-mxp="true" data-mxp-type="collection" data-mxp-section="front" data-mxp-area="homepage" data-mxp-name="the-best-sellers" data-mxp-value="" href="/fr/categories?collection=the-best-sellers">
            <div class="collection-1">
              <img role="presentation" class="img-responsive" srcset="https://d1dnjl0bsr27en.cloudfront.net/assets/welcome/collection1-480w-201906-f40ac3f319757e55612df4cad4266b1c1c8c735ddd91c0f9c2e9adc3d00c135d.jpg 360w, https://d1dnjl0bsr27en.cloudfront.net/assets/welcome/collection1-560w-201906-3c5e351ef0c01b93586559ed2a7cbc3fecdc470c91287d39b7a6ac05ac702a6b.jpg 480w" src="https://d1dnjl0bsr27en.cloudfront.net/assets/welcome/collection1-360w-201906-c8874f0b3191eeebe75458cda81725bfaf7b68ee313f9dc10565fc10dd82861b.jpg" alt="Collection1 360w 201906">
            </div>
          </a>        <a class="btn btn-default btn-lg btn-block" data-mxp="true" data-mxp-type="collection" data-mxp-section="front" data-mxp-area="homepage" data-mxp-name="the-best-sellers" data-mxp-value="" href="/fr/categories?collection=the-best-sellers">
            Bestsellers
          </a>
        </div>

        <div class="col-sm-5">
          <a data-mxp="true" data-mxp-type="category" data-mxp-section="front" data-mxp-area="homepage" data-mxp-name="women-dresses-tunic" data-mxp-value="" href="/fr/categories/women-dresses-tunic">
            <div class="collection-2">
              <img role="presentation" class="img-responsive" srcset="https://d1dnjl0bsr27en.cloudfront.net/assets/welcome/collection2-480w-201906-298ffb33bc6f46265d63574b6ffc61ac7aca9d1667976522b7c1cfc2dbb8fb66.jpg 360w, https://d1dnjl0bsr27en.cloudfront.net/assets/welcome/collection2-560w-201906-5e112ce481340bfd628b1279a1157c141c3dbaeb39c2c619c10eba32df428f63.jpg 480w" src="https://d1dnjl0bsr27en.cloudfront.net/assets/welcome/collection2-360w-201906-c9a7e3a7636aaafd00429d969cb407b176bca32dda4ecdba825dc8864af7be98.jpg" alt="Collection2 360w 201906">
            </div>
          </a>        <a class="btn btn-default btn-lg btn-block" data-mxp="true" data-mxp-type="category" data-mxp-section="front" data-mxp-area="homepage" data-mxp-name="women-dresses-tunic" data-mxp-value="" href="/fr/categories/women-dresses-tunic">
            Robes d'été
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <a data-mxp="true" data-mxp-type="category" data-mxp-section="front" data-mxp-area="homepage" data-mxp-name="swimsuits" data-mxp-value="" href="/fr/categories?categories%5B%5D=women-swimsuits&amp;categories%5B%5D=men-swimsuits">
            <div class="collection-3">
              <img role="presentation" class="img-responsive" srcset="https://d1dnjl0bsr27en.cloudfront.net/assets/welcome/collection3-480w-201906-7eeefc254b575cd0a112bbfe3e4f3b0a7c69d3c8d0206c6720fbf28ace52c076.jpg 360w, https://d1dnjl0bsr27en.cloudfront.net/assets/welcome/collection3-780w-201906-360fc8f8dd4d0a307731c54e305affabb2a26cfc0d35140005587a4f8c359e03.jpg 480w, https://d1dnjl0bsr27en.cloudfront.net/assets/welcome/collection3-1140w-201906-34403e2b1e5f20fe4253fa568c3fe5e41bd4e90e1282d1f3470214d8547865fa.jpg 780w" src="https://d1dnjl0bsr27en.cloudfront.net/assets/welcome/collection3-360w-201906-e65d465698af906c03da8990f17efb179e50c91bb98555831237faf9899ee74a.jpg" alt="Collection3 360w 201906">
            </div>
          </a>        <a class="btn btn-default btn-lg btn-block" data-mxp="true" data-mxp-type="category" data-mxp-section="front" data-mxp-area="homepage" data-mxp-name="swimsuits" data-mxp-value="" href="/fr/categories?categories%5B%5D=women-swimsuits&amp;categories%5B%5D=men-swimsuits">
            Maillots de bain
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
      </div>
      <div class="col-md-auto">
        Variable width content
        3 of 3
        3 of 3

      </div>
      <div class="col col-lg-2">
      </div>
    </div>
  </div>
</section>
