<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div style="background-color:ghostwhite;height:30%;">
  <div class="container">

    <!-- Grid row-->
    <div class="row py-2 d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
        <h6 class="mb-0">Connectez-vous avec nous sur les réseaux sociaux!</h6>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-6 col-lg-7 text-center text-md-right ">

        <ul class="social-network social-circle">
          <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
</div>
<section id="navbar">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a class="navbar-brand" href="#" style="background-color:white;">
          <img src="../../../assets/images/wax/wax_logo.PNG" width="150" height="110" class="d-inline-block align-top" alt="">
        </a>
      </div>
      <div class="col-sm">
        <!--debut barre de recherche-->

        <!--fin barre de recherche-->
      </div>
      <div class="col-sm">
        <!--account&favoris-->
        <ul class="list-inline">
          <li class="list-inline-item">
            <div class="col-sm">
              <a class="navbar-brand" href="#c" style="background-color:white;">
                <img src="../../../assets/images/wax/account_logo.png" alt="mon compte">
                <span class="account">Mon compte</span>
              </a>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="col-sm">
              <a class="navbar-brand" href="#f" style="background-color:white;">
                <img src="../../../assets/images/wax/favoris.png" alt="mes favoris">
              </a>
            </div>
          </li>
          <li class="list-inline-item">
              <a class="navbar-brand" href="#p" style="background-color:white;">
                <img src="../../../assets/images/wax/panier.png" alt="panier">
              </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
