<section class="footer">
  <footer class="page-footer font-small unique-color-light" style="padding-top: 8%">
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold" style="color:darkgray">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <!--<p>
    <a href="https://www.linkedin.com/in/eug%C3%A8ne-rodolphe-mazamda-tangueu-82612b151/">Eugène Rodolphe Mazamda</a> <br />
    <a href="https://www.linkedin.com/in/marius-yovo-715205177/">Marius YOVO</a><br />
    <a href="https://www.linkedin.com/in/morgan-mba-6b1652152/">Morgan MBA</a>
  </p>-->
          <!-- Copyright -->
          <div class="footer-copyright py-3" style="color:darkgray">
            FATIMATA HANE DIOP
          </div>
          <p style="color:darkgray">
            +33 06 62 86 83 58
          </p>
          <div class="footer-copyright py-3" style="color:darkgray">
            © 2019 Copyright
            <a href="https://www.linkedin.com/in/morgan-mba-6b1652152/">  BY TEAM WAX </a>
          </div>
          <!-- Copyright -->

        </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold" style="color:darkgray">ORA et Ses services</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a routerLink="ora/wax">ORA WAX </a>
            </p>

          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold" style="color:darkgray">A propos</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="#!">ORA </a>
            </p>
            <p>
              <a href="#!">Qui sommes-nous ?</a>
            </p>

          </div>

        </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->
  </footer>
  <!-- Footer -->
</section>
